body {
  font-family: "Courier New", monospace;
  font-weight: 500;
  /* background-color: #f8f8f0; */
  color: #333;
  overflow-x: hidden;   /* prevent horizontal scrollbar */
  overflow-y: hidden;   /* prevent vertical scrollbar */
  /* height: 100%; */
}

a {
  text-decoration: none;
}

